/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env*
!.env.exmaple
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json

vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_static.php
vendor/composer/installed.json

.vscode
.dblab.yaml
.tasklist
